.subscriptions-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.subscription-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.subscription-item h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.subscription-item p {
  margin: 5px 0;
}

.subscription-item span {
  margin-right: 5px;
}
